body {
    padding: 0 5px 5px 10px;
}

#options {
    width: 500px;
    max-height: 500px;
    /*  height: 400px; height so that the div is not higher than the Chrome options box and Chrome won't display their own scroll pane
     PROBLEM is that the options box's height depends on the height of Chrome. So on 720p its smaller than on 1080p*/
    overflow-y: auto;
}

#options hr {
    margin-top: 35px;
}

label {
    /* to vertically align the text in the div */
    margin-top: auto;
    margin-bottom: auto;
}

.formGrid {
    display: grid;
    grid-template-columns: max-content auto; /* first row as big as it needs to be, second row auto */
    grid-row-gap: 5px;
    grid-column-gap: 10px;
}

/* Platforms */

/* Channels Grid */
#sfmEnabledChannelsGrid {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
}

#sfmEnabledChannels {
    grid-column: 1 / 4;
}

#sfmEnabledChannelToAdd {
    grid-row: 3;
}

#sfmEnabledChannelToAddDisplayName {
    grid-row: 3;
}

#sfmEnabledAddChannelCell {
    grid-row: 3;
}

#sfmEnabledRemoveChannelCell {
    grid-row: 4;
}

/* Channels */
#sfmEnabledChannels {
    width: 95%;
}

/* Config Player */
#sfmCfgPlayerJumpDistance {
    width: 8em;
}

/* Status */
#statusContainer {
    height: 1em;
}