body {
    padding: 0 0.5em 0.5em 1em;
}

#options {
    width: 500px;
    height: 500px;
    /* height so that the div is not higher than the Chrome options box and Chrome won't display their own scroll pane
           PROBLEM is that the options box's height depends on the height of Chrome. So on 720p its smaller than on 1080p*/
    overflow-y: auto;
    padding-right: 1em;
}

label {
    /* to vertically align the text in the div */
    margin-top: auto;
    margin-bottom: auto;
}

.optionsSectionContainer {
    margin-bottom: 2.5em;
}

.formGrid {
    display: grid;
    grid-template-columns: max-content auto; /* first row as big as it needs to be, second row auto */
    grid-row-gap: 0.5em;
    grid-column-gap: 1em;
}

/* Platforms */

/* Channels Grid */
#sfmEnabledChannelsGrid {
    display: grid;
    grid-template-columns: 5fr 3fr; /* first row as big as it needs to be, second row auto */
    grid-row-gap: 0.3em;
    grid-column-gap: 1em;
}

#sfmEnabledChannels {
    grid-column: 1 / 3; /* start before column 1, end before column 3 */
}

/* empty row at 2 for increased gap */

#sfmEnabledChannelToAddLabel {
    grid-row: 3;
}

#sfmEnabledChannelToAdd {
    grid-row: 4;
}

#sfmEnabledAddChannelCell {
    grid-row: 4;
    grid-column: 2;
}

/* empty row at 5 for increased gap */

#sfmEnabledRemoveChannelCell {
    grid-row: 6;
    grid-column: 2;
}

/* Channels */
#sfmEnabledChannels {
}

/* Config Player */
#sfmCfgPlayerJumpDistance {
    width: 8em;
}

/* Status */
#statusContainer {
    height: 1em;
}