body {
    padding: 0 5px 5px 10px;
}

#options {
    width: 500px;
    height: 450px; /* height so that the div is not too larger than the Chrome options box and Chrome won't display their own scroll pane */
    overflow-y: auto;
}
#options hr {
    margin-top: 35px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin: 0 0 3px 0;
}

.sfmEnabledPlatform {
    float: left;
    width: 100px;
}

#sfmEnabledChannels {
    width: 95%;
}

#sfmEnabledChannelToAddContainer {
    width: 40%;
    display: inline-block;
}

#sfmEnabledChannelToAdd {
    width: 100%;
}

#sfmEnabledChannelToAddDisplayNameContainer {
    width: 30%;
    display: inline-block;
}

#sfmEnabledChannelToAddDisplayName {
    width: 100%;
}

#sfmEnabledAddChannelContainer {
    display: inline-block;
}

#statusContainer {
    height: 1em;
}