body {
    white-space: nowrap;
}

h2 {
    /* Set analog to CSS on chrome:://xtensions page */
    font-size: 14px;
    font-weight: 500;
}

.topLevelContainer:not(:first-child) {
    margin-top: 1em;
}

.secondLevelContainer:not(:last-child) {
    margin-bottom: 1em;
}

.secondLevelContainer > div:not(:last-child) {
    margin-bottom: 0.20em;
}

.sectionLabel {
    font-weight: bold;
}

#sfmStateLabel {
  font-size: 14px;
}

#sfmStateContainer img {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

#sfmEnabledLabel {
    font-size: 14px;
    font-weight: bold;
}

#platform, #channel {
    font-weight: bold;
    font-style: italic;
}
