body {
    white-space: nowrap;
}

/* Set analog to CSS on chrome:://xtensions page */
/*h1, h2, h3, h4 {
	font-weight: normal;
    line-height: 1;
	font-size: 14px;
} */

.header {
    line-height: 1;
}

.header img {
	/* TODO: get the img as SVG and control its size via these instructions
    width: 2em;
    height: 2em; */
    vertical-align: middle;
}

.platformOrChannel {
	font-weight: bold;
}

#sfmStateLabel {
  font-size: 14px;
  margin-bottom: 5px;
}

#sfmStateContainer img {
    width: 2em;
    height: 2em;
    vertical-align: middle;
}