/* The whole time & progress div */
#js-player-seek {
    /*background: red;*/
}

/* The total time span */
.player-seek__time--total {
    /*background: orange;*/
    /*display: none;*/
}

/* The slider div */
.js-player-slider {
    /*background: green;*/
    /*display: none;*/
}

#opnd-player-toolbar img {
    width: 2em; /* for analog layout to the regular twitch button SVGs: */
    height: 2em;
}

.opnd-video-list-item-toolbar button:focus {
    outline: 0; /* prevent Chrome from drawing a blue outline around the button */
}

.opnd-video-list-item-toolbar img {
    width: 1.5em; /* for analog layout to the regular twitch button SVGs: */
    height: 1.5em;
}

.opnd-video-list-item-toolbar button {
    margin-right: 5px; /* spacing between the toolbar buttons: */
}

#opnd-player-show-hide-duration-btn {
    margin-right: 10px; /* more spacing right of the show/hide duration button to not accidentially click it */
}

#opnd-player-jump-distance-input {
    height: 2em; /* for analog layout to the regular twitch buttons: */
    line-height: 2em;
    float: left;
    margin-top: 0.125em; /* (0.25em / 2) */
    margin-left: 5px;
    margin-right: 5px;
    width: 5em;
}
