/* The whole time & progress div */
#js-player-seek {
	/*background: red;*/
}

/* The total time span */
.player-seek__time--total {
		/*background: orange;*/
		/*display: none;*/
}

/* The slider div */
.js-player-slider {
		/*background: green;*/
		/*display: none;*/
}

/* OPENEND: Children of the Toolbar span */
#opnd-toolbar img, #opnd-toolbar button, #opnd-toolbar input {
	vertical-align: middle;
}

/* OPENEND: Toggle Progress button */
#opnd-toggle-progress {
	margin-left: 25px;
	margin-right: 10px;
}

/* OPENEND: Seek Amount text input */
#opnd-seek-amount {
	margin-left: 5px;
	margin-right: 5px;
	width: 75px;
}

.opnd-hidden {
	display: none !important;
}