/* The whole time & progress div */
#js-player-seek {
	/*background: red;*/
}

/* The total time span */
.player-seek__time--total {
		/*background: orange;*/
		/*display: none;*/
}

/* The slider div */
.js-player-slider {
		/*background: green;*/
		/*display: none;*/
}

/* OPENEND: Children of the Utility span */
#oe-util img, #oe-util button, #oe-util input {
	vertical-align: middle;
}

/* OPENEND: Toggle Progress button */
#oe-toggle-progress {
	margin-left: 15px;
	margin-right: 15px;
}

/* OPENEND: Seek Amount text input */
#oe-seek-amount {
	margin-left: 5px;
	margin-right: 5px;
	width: 75px;
}